# This compose file contains recipes that are called from the GitHub
# Actions workflows. Host networking is used, because it simplifies
# the connectivity from the cockroach process back to the cdc-sink
# test rig.
#
# Note that the names of the services in this file must align with
# the integration matrix variable in workflows/tests.yaml, as well
# as the values passed to sinktest.IntegrationMain.
version: "3.9"
services:
  cockroachdb-v20.2:
    image: cockroachdb/cockroach:latest-v20.2
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  cockroachdb-v21.1:
    image: cockroachdb/cockroach:latest-v21.1
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  cockroachdb-v21.2:
    image: cockroachdb/cockroach:latest-v21.2
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  cockroachdb-v22.1:
    image: cockroachdb/cockroach:latest-v22.1
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  # There is no latest-v22.2 tag available in the unstable repo.
  cockroachdb-v22.2:
    image: cockroachdb/cockroach:latest-v22.2
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  cockroachdb-v23.1:
    image: cockroachdb/cockroach-unstable:v23.1.0-beta.2
    network_mode: host
    command: start-single-node --insecure --store type=mem,size=2G
  firestore:
    image: ghcr.io/cockroachdb/cdc-sink/firestore-emulator:latest
    # Expose the emulator on port 8181 to avoid conflict with CRDB admin UI.
    ports:
      - "8181:8080"
  mysql-v8:
    image: mysql:8-debian
    platform: linux/x86_64
    environment:
      MYSQL_ROOT_PASSWORD: SoupOrSecret
      MYSQL_DATABASE: _cdc_sink
    command:
      --default-authentication-plugin=mysql_native_password
      --gtid-mode=on
      --enforce-gtid-consistency=on
      --binlog-row-metadata=full
    ports:
      - "3306:3306"
  mysql-mariadb-v10:
    image: mariadb:10
    platform: linux/x86_64
    environment:
      MARIADB_ROOT_PASSWORD: SoupOrSecret
      MARIADB_DATABASE: _cdc_sink
    command:
      --log-bin
      --server_id=1
      --log-basename=master1
      --binlog-format=row
      --binlog-row-metadata=full
    ports:
      - "3306:3306"
  postgresql-v11:
    image: postgres:11
    environment:
      POSTGRES_PASSWORD: SoupOrSecret
    ports:
      - "5432:5432"
    command:
      - postgres
      - -c
      - wal_level=logical
  postgresql-v12:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: SoupOrSecret
    ports:
      - "5432:5432"
    command:
      - postgres
      - -c
      - wal_level=logical
  postgresql-v13:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: SoupOrSecret
    ports:
      - "5432:5432"
    command:
      - postgres
      - -c
      - wal_level=logical
  postgresql-v14:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: SoupOrSecret
    ports:
      - "5432:5432"
    command:
      - postgres
      - -c
      - wal_level=logical
  postgresql-v15:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: SoupOrSecret
    ports:
      - "5432:5432"
    command:
      - postgres
      - -c
      - wal_level=logical

