# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cdc-sink
replicator

# Test data for local testing
testdata/
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# CockroachDB data directory
cockroach-data/
goroutine_dump/
heap_profiler/

# Package working directory
upload/

# Make it easy to edit modules concurrently
go.work*
