# Copyright 2023 The Cockroach Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# This workflow is based off of the example at
# https://github.com/docker/metadata-action
#
# Multi-platform configuration from
# https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md
#
# Caching from
# https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md
name: Docker
permissions:
  contents: read
  packages: write
on:
  workflow_call:
    inputs:
      enable_docker_hub:
        default: false
        type: boolean
        description: Enable push to DockerHub
  workflow_dispatch:
    inputs:
      enable_docker_hub:
        default: false
        type: boolean
        description: Enable push to DockerHub
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platforms: linux/amd64,linux/arm64
          - platforms: linux/amd64
            target: "oracle"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        env:
          TAG_PREFIX: ${{ matrix.target && format('{0}-', matrix.target) || '' }}
        with:
          # Only interact with DockerHub for version tags or pushes to the master branch.
          images: |
            name=cockroachdb/replicator,enable=${{ inputs.enable_docker_hub }}
            name=ghcr.io/cockroachdb/replicator,enable=true
          # The other defaults are reasonable.
          annotations: |
            org.opencontainers.image.vendor=Cockroach Labs Inc.
          # Prefix PR builds with "pr-" and every build with a tech-specific label.
          tags: |
            type=ref,prefix=${{ env.TAG_PREFIX }},event=branch
            type=ref,prefix=${{ env.TAG_PREFIX }},event=tag
            type=ref,prefix=${{ env.TAG_PREFIX }}pr-,event=pr
      - name: Login to DockerHub
        if: ${{ inputs.enable_docker_hub }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Log in to GitHub Package Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          push: true
          platforms: ${{ matrix.platforms }}
          annotations: ${{ steps.meta.outputs.annotations }}
          tags: ${{ steps.meta.outputs.tags }}
          target: ${{ matrix.target }}

  # Delete all untagged images or stale, non-release images.
  prune:
    runs-on: ubuntu-latest
    needs:
     - docker
    steps:
      - name: Prune untagged GHCR images
        uses: vlaurin/action-ghcr-prune@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          organization: cockroachdb
          container: replicator
          prune-untagged: true
      - name: Prune old builds
        uses: vlaurin/action-ghcr-prune@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          organization: cockroachdb
          container: replicator
          keep-younger-than: 30 # days
          keep-tags-regexes: |
            ^v[0-9]+\.[0-9]+\.[0-9]+$
